li{
	max-height:65px;
}

.sidebar_menu_selected{
	background-color:#ffffff;
	font-weight:bold;
	color:#666666;
}

.sidebar_menu_selected:hover{
	background-color:#f0f0f0;
	font-weight:bold;
	
}

.fill_container_sidebar{
	
	padding:0px;
	float:left;
	z-index:8;
	position:relative;
	top:-1px;
	
}

.admin_tab_group{
	z-index:11;
	position:relative;
	
}

.admin_table{
	margin-left:0px;
	margin-right:0px;
	
	
}

#admin_header{
	
	min-width:1300px;
	
}

#footer_bar{
	min-width:1300px;
}

.admin_panel{
	
	background-color:#fafafa;
	border-top:0px;
}

#button_panel_menu_right{
	
	margin-right:10px;
}


/*273*/
#page_title_bar_fill{
	min-width:1236px;
}
.main_body{
	min-width:1236px;
}

.admin_panel{
	max-height:41px;
	clear:both;
}

/*check 50, every field+20*/
#type_code_header,.type_code_field{
	width:120px;
}

#type_visibility_header,.type_visibility_field{
	width:80px;
}

#type_price_header,.type_price_field{
	width:120px;
}

#type_name_header,.type_name_field{
	width:100px;
}



#product_name_header,.product_name_field{
	margin-right:360px;
	margin-left:190px;
}