.fill_label_2{
	float:left;
	color:#666666;
}

.size_label{
	float:left;
	width:60px;
}




.field_hr{
	margin-top:30px;
	margin-bottom:30px;
}

.sidebar_menu_selected{
	background-color:#ffffff;
	font-weight:bold;
	color:#666666;
}

.sidebar_menu_selected:hover{
	background-color:#f0f0f0;
	font-weight:bold;
	
}